/**/.venv
/**/venv
/**/__pycache__*/
/**/__pycache__
/**/*.pyc
/**/*.pyo
/**/.env*
/**/*pgdata
/**/*redis_data
/logs
/**/*.log
/**/.pytest_cache
/**/.coverage
/**/htmlcov
/**/.git
/**/.gitignore
/**/gitattributes
/**/.idea
/**/.vscode
/**/*.swp
/**/*.swo
/test_pgdata
/test_redis_data
/Dockerfile
/docker-compose*.yml
/.dockerignore
/**/.github
/**/.github-ci.yml
/**/.travis.yml