alembic==1.13.3
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv
asyncpg==0.29.0
fastapi
fastapi-cache2
redis
uvicorn
loguru==0.7.3
httpx
pytest
anyio
pytest-asyncio>=0.20.0
jinja2